<a href="https://colab.research.google.com/github/gustavogrds/analise_dados_mack/blob/main/Aula_3_Comandos_b%C3%A1sicos_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Orlando">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://www.orlandoalbarracin.com.br/phyton/mackenzie-logo.png" width=300, align="left">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Introdução
Python é uma linguagem bastante poderosa e com muitos recursos. Nessa introdução de Python para Ciência de Dados vamos aprender apenas um conjunto de recursos mínimos que serão necessários para fazermos a maior parte de nossas análises no curso.

## Estruturas de Dados 

Estruturas de dados como Listas, Tuplas, Conjuntos e Dicionários desempenham um papel fundamental tanto para programação como para a análise de dados.  Vamos nos estudar unm pouco mais as estruturas de listas e dicionários uma vez que têm mais utilidade para os nossos propósitos.

### Coleções

Existem, principalmente, quatro tipos de dados de coleções em Python:

- Lista (**list**) é uma coleção que é ordenada e mutável. Permite membros duplicados.
- Tupla (**tuple**) é uma coleção que é ordenada e imutável. Permite membros duplicados.
- Conjunto (**set**) é uma coleção não ordenada e não indexada. Nenhum membro duplicado.
- Dicionário (**dictionary**) é uma coleção desordenada, mutável e indexada. Nenhum membro duplicado.

### <font color='red'> Listas </font>
Na programação Python, uma lista é criada colocando todos os itens (elementos) entre colchetes [ ], separados por vírgulas. Ele pode ter qualquer número de itens e eles podem ser de tipos diferentes (inteiro, flutuante, string etc.).

In [ ]:
# Exemplo 1

Notas = [2,3.4,7,8,1.4]

# Índices de listas
print(Notas[0])
print(Notas[4])
print(Notas[0:2])
print(Notas[1:])

[3.4, 7]

In [ ]:
# Exemplo 2

Informação = ["Orlando", "Colombiano", 1.78]
print(Informação)

['Orlando', 'Colombiano', 1.78]

In [ ]:
# Exemplo 3

Receita= [["banana","maça","pera"],[1,2,0.5]]
print(Receita[0][0], Receita[1][0])

banana 1

#### <font color='blue'> Python List Methods  </font>

append() - Add an element to the end of the list \
extend() - Add all elements of a list to the another list \
insert() - Insert an item at the defined index \
remove() - Removes an item from the list \
pop() - Removes and returns an element at the given index \
clear() - Removes all items from the list \
index() - Returns the index of the first matched item \
count() - Returns the count of the number of items passed as an argument \
sort() - Sort items in a list in ascending order \
reverse() - Reverse the order of items in the list \
copy() - Returns a shallow copy of the list \

In [ ]:
Idades=[21,32,24,27,28,30]

In [ ]:
# Corrigindo valores em uma lista

Idades[0]=40
Idades

[40, 32, 24, 27, 28, 30]

In [ ]:
# Adicionando valores no final da lista

Idades.append(26)
Idades

[40, 32, 24, 27, 28, 30, 26]

In [ ]:
# Populando uma lista 

mylist = []
nomes=['Beatriz', 'Aline', 'Adriana', 'Daniel'] 

for x in nomes:
  mylist.append(x)

print(mylist)

['Beatriz', 'Aline', 'Adriana', 'Daniel']

In [ ]:
# Adicionar una lista

Idades.extend([21,32,40])
Idades

[40, 32, 24, 27, 28, 30, 26, 21, 32, 40]

In [ ]:
Idades=[1,2,3,4,5,6,7,8,9]

In [ ]:
# Elimina o elemento do índice "i"

del Idades[0]
Idades
# del Idades #Elimina todos os elementos

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Remover um valor

telefone = [2124,3212,8901,2123]
telefone.remove(8901)
telefone

[2124, 3212, 2123, 8901]

In [ ]:
# Devolve o elemento eliminado do índice indicado, se não indica um índice elimina o último elemento

lista=[1,2,3,4,5,6]
print(lista.pop()) #posição
print(lista)

6
[1, 2, 3, 4, 5]

In [ ]:
# Contar numero de vezes que aparece o elemento "x" 

Idades=[20,21,21,32,43,25,21,20,36,17,29,20,19,17]
Idades.count(21)

3

In [ ]:
# Inserir um valor num determinado index

Idades.insert(2,50) # .insert(index, elemento)
Idades

[20, 21, 50, 21, 32, 43, 25, 21, 20, 36, 17, 29, 20, 19, 17]

In [ ]:
# Ordenar
Idades.sort(reverse=False)
Idades

[50, 43, 36, 32, 29, 25, 21, 21, 21, 20, 20, 20, 19, 17, 17]

In [ ]:
# Criando uma lista de números em sequência:

seq=list(range(10)) # range(n) de 0 a n-1
seq

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Percorrendo uma lista com for:
for x in lista:
    print(x)

In [ ]:
# Algumas funções

print(max(lista)) # maior item
print(min(lista)) # menor item
print(sum(lista)) # somar os valores

In [ ]:
# Percorrendo uma lista pegando o seu valor e sua posição:
lista=["terminar","frio","alunos","falando","muito","silêncio"]
for indice, valor in enumerate(lista):
    print(indice,valor)

### Exercício

Dados n úmeros inteiros, maiores que zero, inseridos pelo usuário (não permitir que o usuário digite mais números após escrever 0), calcule a média desses números e mostre o maior número digitado e em qual entrada (primeira ou segunda,...) foi inserido esse número pela primeira vez.  

Dica: crie uma uma lista vazia e salve nela os valores digitados!

In [ ]:
# Seu código!

import numpy as np

numeros=[]

### <font color='green'> Tuplas </font>
Uma tupla é criada colocando todos os itens (elementos) entre parênteses (), separados por vírgulas. Os parênteses são opcionais, no entanto, é uma boa prática usá-los.
A diferença entre entre uma tupla e uma lista é que não podemos alterar os elementos de uma tupla depois de atribuída.

In [ ]:
# Exemplo 1

dados=(123, 932, 464, [101,210], "Recife")
print(dados)
print(dados[3])
print(dados[3][0])
print(dados[3:])

In [ ]:
# cuidado!

dados[3]=312


# can't delete items
#del dados[0]

# Can delete an entire tuple
#del dados

Ao contrário das listas, as tuplas são imutáveis.

Isso significa que os elementos de uma tupla não podem ser alterados depois de atribuídos. Mas, se o próprio elemento for um tipo de dados mutável, como lista, seus itens aninhados podem ser alterados.

In [ ]:
# However, item of mutable element can be changed

dados=(123, 932, 464, [101,210], "Recife")
print(dados[3][0])
dados[3][0]=201

In [ ]:
# We can test if an item exists in a tuple or not, using the keyword in.

cadastro = ('Orlando', 'Daniel', 'Andrea', 'Luiz', 'Erika')

print('Orlando' in cadastro)
print('Andre' in cadastro)

# Not in operation
print('Daniel' not in cadastro)

In [ ]:
# Funções úteis

"Olá, estão aqui?".split()

In [ ]:
# Funções úteis

my_tuple = ('a', 'p', 'e', 'p', 'l')

print(my_tuple.count('p'))  #contar número de vezes que aparece o elemento
print(my_tuple.index('l'))  # Encontrar o índice desse elemento
print(my_tuple.index('p',2)) # 'p' after the 2th index is searched

### <font color='blue'> Dicionário </font>

O dicionário Python é uma coleção não ordenada de itens. Cada item de um dicionário possui um par: chave e valor.
Criar um dicionário é tão simples quanto colocar itens entre chaves {} separados por vírgulas. Um item possui uma chave e um valor correspondente.

Dicionário é uma coleção desordenada, mutável e indexada.

In [ ]:
# Exemplo 1

# Opção 1
Inf = {'Nome': ['John','André','Camila'], 'Telefone': [122,322,213]}
print(Inf)

# Opção 2
my_dict = dict({'Nacionalidades':['Italiano', 'brasileiro', 'brasileira']})
print(my_dict)

In [ ]:
# Ver os elementos que estão na chave 'Nome'

Inf = {'Nome': ['John','André','Camila'], 'Telefone': [122,322,213]}
Inf['Nome']

In [ ]:
# Percorrendo um dicionário

mydict = {'Beatriz':1978, 'Aline':1987, 'Adriana':1984, 'Daniel':1996} 
for i in mydict:
    print(i, mydict[i])

In [ ]:
# Populando um dicionário

notas=[1,5,6,2]
nomes=["Rafaela","Andre","Miguel","Julia"]
dict2={}

for i in [0,1,2,3]:
  dict2[nomes[i]]=notas[i]

dict2

In [ ]:
# Alterando elementos de dicionário

Inf = {'Nome': ['John','André'], 'Telefóne': [122,322]}
Inf['Telefóne'][1]=567
Inf

In [ ]:
# adicionando itens

Inf['Bairro'] = ['consolação','Pinheiros']
Inf

In [ ]:
Inf.keys() # Ver as chaves
Inf.values() # Ver os valores

In [ ]:
#Eliminar chave e seus elementos
Inf.pop('Nome') 
Inf

In [ ]:
# remove all items
Inf.clear()

### Exercício

Os seguintes dados correspondem ao número diário de ligações recebidas de **segunda a sexta-feira**, numa central de atendimento durante 3 anos. Assuma que o primeiro valor corresponda ao número de ligações recebidas numa segunda-feira, o segundo valor corresponde às ligações de terça-feira,...

In [ ]:
import random
random.seed(120)

ligações=random.choices(list(range(1, 30)), k=765)
print(ligações)

Crie um diccionário cujas chaves sejam os dias da semana e cujo valor seja o número total de ligações recebidas nesse dia da semana.

```
  Dic = { 'Segunda': n1, 'Terça': n2, 'Quarta': n3,'Quinta': n4,'Sexta':n5 }
```

In [ ]:
# Seu código

Dic={"segunda":0, "terça":0, "quarta":0, "quinta":0,"sexta":0}

# Exercícios

## Questão 1
Considere que a seguinte lista representa o número de e-mails recebidos numa central de atendimento de segunda a domingo. Assuma que o primeiro valor apresentando corresponde aos e-mail recebidos numa segunda-feira, o segundo valor a uma terça-feira...

In [ ]:
import random
random.seed(2022)

emails=random.choices(list(range(0, 10)), k=2177) 
print(emails)

1. Crie uma lista com os e-mails recebidos somente aos sábados. Quantos e-mails foram recebidos no total nesse dia? Em média, quantos e-mails são recebidos a cada sábados? 
2. Em que dia se receberam no total mais e-mails? e menos?
3. Em quantas segundas-feiras não se receberam e-mails?

In [ ]:
# Seu código

E_sab=[]

In [ ]:
# Seu código

Dic={"segunda":0, "terça":0, "quarta":0, "quinta":0,"sexta":0,"sabado":0,"domingo":0}

In [ ]:
# Seu código
E_seg_zero=[]

## Questão 2

 Cada vez que um consumidor compra n itens de um produto são atualizadas duas  listas: Produto e Itens. A primeira lista salva a marca do produto (A, B ou C) e a segunda, o número de itens comprados dessa marca. No código abaixo temos os registros de 3000 clientes.

In [ ]:
import random
random.seed(2022)

Itens=random.choices(list(range(1, 10)), k=3000)
Produto=random.choices(["A","B","C"], k=3000)

In [ ]:
print("Assim, o primeiro dado indica que foram comprados", (Itens[0]), "itens da marca",(Produto[0]))

Assim, o primeiro dado indica que foram comprados 5 itens da marca A

Crie um dicionário, cujas chaves sejam os produtos e cujos valores sejam o total de produtos comprados.
```
  Dic = { 'A': n1, 'B': n2, 'C': n3 }
```

- Qual produto teve mais/menos itens vendidos? 
- Em média, quantos itens são adquiridos quando se compram produtos da marca A? 
\
Dica: (Soma de itens comprados da marca A)/Total de vezes em que se comprou produtos da marca A)

In [ ]:
# Seu código
Dic={"A":0, "B":0,"C":0}

##Questão 3

O código abaixo lê o texto **Ulisses, de James Joyce** (Não precisa entender o código neste momento)

Qual dos seguintes nomes corresponde ao personagem principal da obra Ulisses: bloom, ulysses ou stephen. Assuma que o personagem mais citado numa obra é o protagonista.

Dica: Empregue a frequência dos têrmos do dicionário para identificar o personagem mais importante.

In [ ]:
# Código para ler o texto Ulisses (pular esse código)

import urllib.request  # the lib that handles the url stuff
texto = []
link='https://www.gutenberg.org/files/4300/4300-0.txt'
for line in urllib.request.urlopen(link): 
    texto.append(line.decode('utf-8')) 

punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~—'''

# remove punctuation from the string
my_str=str(texto).replace("\\r\\n'", "")
livro = ""

for char in my_str:
   if char not in punctuations:
       livro = livro + char

# display the unpunctuated string
print(livro)

In [ ]:
# Apresenta o livro
print(livro)

In [ ]:
# Seu código

mydict={}
palavras0=livro.lower()          # texto com palavras minúsculas
palavras=palavras0.split()           # separa cada palavra

## Exercício 4 (Resolvido)

Crie um programa para criar uma lista de nomes a partir da entrada.

In [ ]:
T=True
nomes=[]

while T:
  name = input('Entre com um nome ou \'END\' para terminar: ')
  if name != 'END':
    nomes.append(name)
  else:
    break

print(nomes)