<a href="https://colab.research.google.com/github/gustavogrds/analise_dados_mack/blob/main/Aula_2_Comandos_ba%CC%81sicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Orlando">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://www.orlandoalbarracin.com.br/phyton/mackenzie-logo.png" width=300, align="left">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Introdução

Nesta introdução de Python para Ciência de Dados vamos aprender apenas um conjunto de recursos mínimos que serão necessários para fazermos a maior parte de nossas análises no curso.

## Variáveis de tipo numérico 
inteiro (int)\
ponto flutuante (float) \
booleano (bool)

In [ ]:
#Inteiro

a=10
print(a)
type(a)

In [ ]:
# Números reais

b=9.2
print(b)
type(b)

In [ ]:
# Booleano (Falso; Verdadeiro)

a=2
b=3

c=a>b
print(c) #0: Falso;  1: Verdadeiro
type(c)

### Operadores e funções!

<font color='blue'> Operadores aritméticos</font>

Soma (+) \
Diferença (Subtração) (-) \
Multiplicação ( * ) \
Divisão (/) \
Divisão inteira (//) O resultado da divisão é truncado para inteiro imediatamente inferior \
Módulo (%) \
Potência (**) \


<font color='blue'> Operadores lógicos</font>


Maior (>) \
Menor (<) \
Maior ou igual (>=) \
Menor ou igual (<=) \
Igual (==) \
Diferente (!=)


<font color='blue'> Funções para tipos numéricos </font>

abs(): Retorna o valor absoluto do número. \
pow(): Eleva um número por outro. \
round(): Retorna um número real com o arredondamento especificado.

<font color='red'> Exemplos! </font>

In [ ]:
# Usando operadores!


print(2+3)
print(2==3) # print (falso)
print(abs(-4))
print(9//2)
print(round(2.31848484,3))
print(pow(2,5))

## Variáveis de tipo texto (String)

In [ ]:
nome='Orlando Albarracín'
nac= "Colombiano"
idade= "33 anos"

print("nome:",nome,"; Nacionalidade:", nac,"; Idade:",idade)

In [ ]:
# Funções interessantes e úteis!

print("São Paulo".lower())
print("São Paulo".upper())

In [ ]:
# Funções interessantes e úteis!

"Você está aprovado".replace('aprovado','reprovado')

In [ ]:
# Funções interessantes e úteis!

"Você está aprovado".split()

## Bibliotecas

O *import* de bibliotecas permite estender o Python adicionando módulos e funções úteis que podem inclusive reduzir o uso de código no programa. As bibliotecas mais utilizadas para análise de dados com Python são:


```
1. Random: Permite gerar números aleatórios, embaralhar listas e sortear item de sequências.
2. Numpy: Fornece várias funções e operações que ajudam a executar cálculos numéricos com facilidade.
3. Pandas: Facilita explorar a manipulação, leitura e visualização de dados
4. MatplotLib: Permite a visualização de dados do Python
```

**Importando bibliotecas:**

```
import numpy
import numpy as np
from numpy import mean 
from numpy import mean as media
```

Acesse: [Biblioteca padrão de Python](https://docs.python.org/pt-br/3/library/ )

### Random

In [ ]:
#Algumas funções da Biblioteca random

import random

print(random.randrange(10,20,1))
print(random.sample(range(0,10,1),3))
print(random.randint(1,10))
print(random.normalvariate(300,10))

### Numpy

In [ ]:
#Algumas funções da Biblioteca Numpy

import numpy as np

notas=[3.9,6.8,7.5,10,6.5,8,7.2,6.5,10,9.4] 

print(notas[1]) # valor na posição 1
print(len(notas)) # comprimento
print(np.mean(notas)) # média
print(np.std(notas)) #desvio padrão
print(np.mod(5,2)) # resto


print("A nota média do curso foi", np.mean(notas), "com desvio padrão de",np.std(notas))
print("A nota média do curso foi", np.mean(notas), "com desvio padrão de", round(np.std(notas),4) )

### Pandas

In [ ]:
#Algumas funções da Biblioteca Pandas

import pandas as pd

altura=[176.7,168.9,164.6,180.2,165.6]
nomes=["andré","Camila","Andrea","Fernando", "Thiago"]
pd.DataFrame(altura,index=nomes,columns=['altura (cm)'])

          altura (cm)
andré           176.7
Camila          168.9
Andrea          164.6
Fernando        180.2
Thiago          165.6

## Estruturas condicionais e de repetição

### <font color='green'> IF ELSE </font> 

Utilizamos o comando `if` para verificar uma expressão e executar um bloco de código, indentado, caso a condição definida seja verdadeira. O comando `else ` é utilizado para executar um bloco de código, indentado, caso o resultado da expressão informada na instrução `if` seja falso. 

```
if (condição):
    código a ser executado 
else:
    código a ser executado
```

Note que em Python as instruções aninhadas são **identadas** (*tab*), o que corresponde ao `{}` de linguagens como Java e C. Assim os comandos *aninhados* à condição ou laço do programa devem estar à direita do comando inicial da condição ou laço.

In [ ]:
# Exemplo 1

x = int(input("Digite sua nota: "))

if (x >= 6):
  print("Você está aprovado")
else:
  print("Você está reprovado")

In [ ]:
# Exemplo 2 (ELIF)

# O comando elif é utilizado quando queremos realizar a verificação de outra expressão caso a primeira validação seja falsa. 

x = 20
y = 10

if (x < y):
  print("x é menor que y")
elif (x > y):
  print("x é maior que y")
else:
  print("x é igual a y")

x é maior que y

### Exercício

Escreva	 um	 programa	 que	 verifique	 a	 validade	 de	 uma	 senha	(de 4 digitos) fornecida	pelo	 usuário.	 Assuma que a senha	 válida	 é 1234.

Devem	 ser	impressas	 as	seguintes	mensagens:	

*   ACESSO	PERMITIDO,	caso	a	senha	seja	válida.	
*   ACESSO BLOQUEADO, caso a senha digitada seja 0000.
*   ACESSO	NEGADO,	caso	contrário.

In [ ]:
## Digite seu código

### <font color='red'> FOR </font> 

A estrutura de repetição `for` permite executar um bloco de códigos repetidas vezes. Na linguagem Python, ela é utilizada para percorrer elementos em sequência, como uma *string*, uma lista ou objetos iteráveis.

Obs. Um objeto iterável é aquele que tem a capacidade de retornar cada um de seus elementos de forma individual. 



```
for <var> in <objeto iterável>:
    código a ser executado
```

In [ ]:
#Exemplo 1

lista=[4.1,5,0.8,4.9,5.1,5.7]

for i in lista:
  print(i)

In [ ]:
# Exemplo 2

for i in lista:
  if i>4.5 and i<5.5:
    print("peça boa", i)
  else:
    print("peça ruim", i)

In [ ]:
# Exemplo 3

palavra = "Estudar Python é legal"
for letra in palavra:
    print(letra)

### Exercício

Faça um programa, utilizando `for`, que peça para o usuário inserir um número e mostre na tela todos os números ímpares até esse número.

In [ ]:
# Digite seu código

### <font color='blue'> WHILE </font> 

É uma estruturaa de repetição que permite executar um bloco de códigos enquanto uma determinada condição for verdadeira.



```
while < condição >: 
  código a ser executado
```

In [ ]:
# Exemplo 1

votos = 0

while votos < 6:
  votos = votos + 1 
  print(votos)

In [ ]:
# Exemplo 2

nums = []
while len(nums) < 4:
    entrada = int(input("Insira um número inteiro diferente de zero: "))
    if entrada != 0:
        nums.append(entrada)
    print(nums)

### Exercício

Faça um programa, utilizando `while`, em que o usuário deverá digitar uma senha e confirmá-la. Finalizar o programa quando as senhas sejam iguais, caso contrário peça para digitar novamente a senha e confirmá-la.

In [ ]:
# Seu código

print("Confirmação de senha")
senha1 = input("Digite a senha: ")
senha2 = input("Confirme a senha: ")

### <font color='IndianRed'> Os operadores booleanos </font>

Podemos construir condições mais complexas utilizando os operadores lógicos. Eles são: \

<font color='DarkCyan'> and </font>
Retorna um valor verdadeiro se receber duas expressões que forem verdadeiras.\
<font color='DarkCyan'> or  </font>	 	      Retorna um valor falso se receber duas expressões que forem falsas. \
<font color='DarkCyan'> not </font>	 	Retorna falso se receber uma expressão verdadeira e vice-versa.\
<font color='DarkCyan'> in </font>	 	 Retorna verdadeiro se ao receber um item e uma lista o item está uma (ou mais vezes) na lista, e falso em caso contrário.

In [ ]:
# Exemplo 1

print('1. Idoso')
print('2. Gestante')
print('3. Cadeirante')
print('4. Nenhum destes')
resposta=int( input('Você é: ') )

if (resposta==1) or (resposta==2) or (resposta==3) :
    print('Fila prioritária')
else:
    print('Fila não preferencial')

In [ ]:
# Exemplo 2

time = input('Qual time você torce? ')

if not time=="dragões":
    print('Boa! é o melhor')
else:
    print('Recomendo trocar de time')

## Exercícios!

### Exercício 1

Tendo	como entrada a altura (em cm)	e	 o	sexo	(codificado	 da	 seguinte	 forma:	1:masculino  2:feminino	)	 de	 uma	 pessoa,	 construa	 um	 programa	 que	calcule	e	imprima	seu	peso recomendado,	utilizando	as	seguintes	fórmulas:	

- Masculino: 52 + (0.75 × (altura - 152.4)
- Feminino:  52 + (0.67 × (altura - 152.4)

In [ ]:
# Seu código

altura= int(input("Digite sua altura em cm "))
sexo= int(input("Digite o número correpondente: 1-Masculino; 2- Feminíno "))

#### Exercício 1b

Considere a seguinte lista de alturas e sexos!

In [ ]:
import numpy
from numpy import random

random.seed(2022)
Alturas = random.choice(range(120, 210), 160)
Sexos=random.choice(numpy.array([1,2]), 160)

print(Alturas)
print(Sexos)


Qual é o peso recomendado para um pessoa cuja altura e sexo são, respectivamente, os valores que estão na posição 65 e 120 das listas Alturas e Sexos (definidas acima).

In [ ]:
# Seu código

### Exercício 2

Faça um programa que receba do usuário a temperatura média de cada mês de certo ano e armazene-as em uma lista. Após isto, calcule a temperatura média anual e mostre todas as temperaturas acima da média anual e em que mês elas ocorreram.

In [ ]:
# Seu código

Temperaturas = []

#### Exercício 2b

Considere a seguinte lista de temperaturas (em graus celius)

In [ ]:
from numpy import random

random.seed(100)
Temperaturas2= list(random.choice(numpy.arange (10,37,0.1), 50))
print(Temperaturas2)

Percorrer os elementos de "Temperaturas2", quando encontrado o primeiro valor maior que 25, selecione os seguintes 12 primeiros valores. Assuma que esses valores correspondem às temperaturas médias mensais de certo ano. Em quais meses, a temperatura foi maior que a temperatura anual?

In [ ]:
# Seu código

### Exercício 3

O código abaixo mostra a bibliografica do escrito colombiano Gabriel Gárcia Márquez.

Usando essa bibliografica, conte o número de vezes que aparece a letra "m" (não importa se está maiúscula ou minúscula).

In [ ]:
#@markdown Gabriel Garcia Márquez

import urllib.request  # the lib that handles the url stuff
texto = []
link='https://www.orlandoalbarracin.com.br/phyton/Gabriel.txt'
for line in urllib.request.urlopen(link): 
    texto.append(line.decode('utf-8')) #print(line.decode('utf-8')) #utf-8 or iso8859-1

#Elimando vírgulas, parênteses,...

txt=str(texto)
Bibliografia=txt.replace("\\r\\n'", "").replace('-',' ').replace("'", " ").replace('.','').replace(',','').replace('(','').replace(')','').replace('“','').replace('”','').replace(':','').replace('[',' ').replace(']',' ')
print("Bibliografia: ",Bibliografia)

In [ ]:
print(Bibliografia)

In [ ]:
# Seu código

letraM=[]

#### Exercício 3b

Conte o número de vezes que aparece a nome "Gabriel".

In [ ]:
# Seu código

Bibliografia2=Bibliografia.split()